
body {
    background: url(https://image.freepik.com/free-photo/simple-christmas-background_23-2147722766.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    display: inline block;
}

img {
    width: 200px;
    height: 200px;
}

.gifDiv {
    display: inline-block;
    margin: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#form {
color: white;
float: right;
margin-right: 50px;
text-align: center;
display: inline block;
background-color: rgba(196, 73, 73, 0.733);
padding: 5px;
margin-top: 5px;
border-radius: 8px;
}

#formTitle {
    padding: 5px;
}

.button {
    color: white;
    font-size: 25px;
    background-color: rgba(196, 73, 73, 0.733);
    margin: 5px;
    border-radius: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#buttonSpace {
    margin-bottom: 150px;
}

#newValue {
    color: white;
    font-size: 25px;
    background-color: rgba(245, 241, 241, 0.733);
    margin: 5px;
    border-radius: 8px;
    margin-top: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.gifDiv { 
    width: 200px;
}

